<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments/layout :: head">
</head>
<body>
<div th:replace="fragments/layout :: header"></div> <br>
<h2 th:text="#{add.header}"></h2>
<form action="/admin/add" method="post">
    <span th:text="#{kind}"></span> <select id="kind" name="kind">
        <option value=""></option>
        <option value="rent" th:text="#{link.rent}"></option>
        <option value="sale" th:text="#{link.sale}"></option>
        <option value="repair" th:text="#{link.repair}"></option>
    </select><br><br>
    <span th:text="#{type}"></span> <select id="type" name="type">
        <option value=""></option>
        <option class="rent" value="car" th:text="#{link.rent.car}" ></option>
        <option class="rent" value="trailer" th:text="#{link.rent.trailer}"></option>
        <option class="other" value="body" th:text="#{link.body}"></option>
        <option class="other" value="brake" th:text="#{link.brake}"></option>
        <option class="other" value="cooling" th:text="#{link.cooling}"></option>
        <option class="other" value="electrical" th:text="#{link.sale.electrical}"></option>
        <option class="other" value="engine" th:text="#{link.engine}"></option>
        <option class="other" value="steeringsystem" th:text="#{link.steering.system}"></option>
        <option class="other" value="suspension" th:text="#{link.suspension}"></option>
    </select><br><br>
    <span th:text="#{name}"></span> <input type="text" name="name"><br><br>
    <span th:text="#{price}"></span> <input type="number" name="price"><br><br>
    <span th:text="#{quantity}"></span> <input type="number" name="quantity"><br><br>
    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" />
    <input type="submit" value="Zatwierdź">
</form>
</body>
</html>