<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
    </script>
    <script type="text/javascript">
        var varPageURL = $(location).attr("href");
        var pageURL = varPageURL.substr(0, varPageURL.indexOf('?'));
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != '') {
                    window.location.replace(pageURL + '?language=' + selectedOption);
                }
            });
        });
    </script>

    <script>
        $(document).ready(function(){
            $("tr").click(function(){
                $(".centerContainer").show().css({"display":"flex"});
                var texts = $(this).text();
                var texthtml = $(this).html();
                $(".hidden").val(texthtml);
                $(".orderInput").val(texts);
            });
        });
    </script>
    <script>
        $(document).ready(function() {
           $(".resignation").click(function () {
              $(".centerContainer").hide();
           });
        });
    </script>

    <script>
        $(document).ready(function() {
            $("#kind").change(function () {
                var kind = $("#kind").val();
                if (kind == 'rent') {
                    $("option.rent").show();
                    $("option.other").hide();
                }if (kind == 'sale' || kind == 'repair') {
                    $("option.rent").hide();
                    $("option.other").show();
                }
            });
        });
    </script>
    <script>
        $(document).ready(function() {
                var user = $("#user").text();
                if (user == 'admin') {
                    $("#admin").show();
                }
            });

    </script>
    <title>Car Service</title>
</head>
<body>
<div th:fragment="header">

    <h1 id="mainheader"><span th:text="#{header}"></span></h1>
    <span id="lang" th:text="#{lang.change}"></span>:
    <select id="locales">
        <option value=""></option>
        <option value="en" th:text="#{lang.pl}"></option>
        <option value="pl" th:text="#{lang.en}"></option>
        <option value="fr" th:text="#{lang.fr}"></option>
    </select><br><br><br>

    <div class="dropdown photo">
        <img src="/css/photo.jpg" alt="zdjęcie" style="width: 100%">
        <div class="dropdown-content">
            <img src="/css/photo.jpg" alt="zdjęcie" style="float: right; width: 180%; margin-top: -153%">
        </div>
    </div>
    <ul id="menu">
        <li><a href="/start"><span th:text="#{link.root}"></span></a></li>
        <li><a href="/contact"><span th:text="#{link.contact}"></span></a></li>
        <li class="dropdown-service">
            <a href="#"><span th:text="#{link.repair}"></span></a>
            <ul class="dropdown-content-service">
                <li><a href="/repairElectrical"><span th:text="#{link.electrical}"></span></a></li>
                <li><a href="/repairCooling"><span th:text="#{link.cooling}"></span></a></li>
                <li><a href="/repairBrake"><span th:text="#{link.brake}"></span></a></li>
                <li><a href="/repairEngine"><span th:text="#{link.engine}"></span></a></li>
                <li><a href="/repairSuspension"><span th:text="#{link.suspension}"></span></a></li>
                <li><a href="/repairSteeringSystem"><span th:text="#{link.steering.system}"></span></a></li>
                <li><a href="/repairBody"><span th:text="#{link.body}"></span></a></li>
            </ul>
        </li> <li class="dropdown-service">
            <a href="#"><span th:text="#{link.sale}"></span></a>
            <ul class="dropdown-content-service">
                <li><a href="/saleElectrical"><span th:text="#{link.electrical}"></span></a></li>
                <li><a href="/saleCooling"><span th:text="#{link.cooling}"></span></a></li>
                <li><a href="/saleBrake"><span th:text="#{link.brake}"></span></a></li>
                <li><a href="/saleEngine"><span th:text="#{link.engine}"></span></a></li>
                <li><a href="/saleSuspension"><span th:text="#{link.suspension}"></span></a></li>
                <li><a href="/saleSteeringSystem"><span th:text="#{link.steering.system}"></span></a></li>
                <li><a href="/saleBody"><span th:text="#{link.body}"></span></a></li>
            </ul>
        </li>
        <li class="dropdown-service">
            <a href="#"><span th:text="#{link.rent}"></span></a>
            <ul class="dropdown-content-service">
                <li><a href="/rentCar"><span th:text="#{link.rent.car}"></span></a></li>
                <li><a href="/rentTrailer"><span th:text="#{link.rent.trailer}"></span></a></li>
            </ul>
        </li>
        <li><a href="/registration"><span th:text="#{link.registration}"></span></a></li>
        <li><a href="/chat" target="_blank"><span th:text="#{link.chat}" ></span></a><br></li>
        <li><a href="/admin" id="admin"><span th:text="#{link.admin}"></span></a><br><br></li>
        <li><a href="/logout"><span th:text="#{link.logout}"></span></a><br></li>

    </ul>

    <div sec:authorize="isAuthenticated()">
        <h3><span th:text="#{user}"></span><span id="user" sec:authentication="name"></span></h3>
    </div>
</div>

<div th:fragment="displayRent">
    <table class="displayPrice">
        <tr th:style="'font-size: 20px'">
            <th><span th:text="#{display.id}"></span></th>
            <th><span th:text="#{display.name}"></span></th>
            <th><span th:text="#{display.rent.price}"></span></th>
            <th><span th:text="#{display.rent.price.currency} + ${currency}"></span></th>
            <th><span th:text="#{display.rent.price.day}"></span></th>
            <th><span th:text="#{display.rent.price.day.currency} + ${currency}"></span></th>
            <th><span th:text="#{display.quantity}"></span></th>
        </tr>
        <tr th:each="vehicle: ${vehicleList}">
            <td th:text="${vehicle.id()}"></td>
            <td th:text="${vehicle.name()}"></td>
            <td th:text="${vehicle.price()}"></td>
            <td th:text="${#numbers.formatDecimal((askValue * vehicle.price()), 1,2)}"></td>
            <td th:text="${#numbers.formatDecimal((vehicle.price() * 12), 1,2)}"></td>
            <td th:text="${#numbers.formatDecimal((askValue * vehicle.price()) * 12, 1,2)}"></td>
            <td th:text="${vehicle.quantity()}"></td>
        </tr>
    </table>
    <div class="centerContainer">
        <div class="order">
            <h2 th:text="#{order.rent.head}"></h2>
            <form action="/orderRent" method="post">
                <input type="text" class="orderInput" style="width: 25%" readonly><br><br><br>
                <input type="hidden" class="hidden" name="html">
                <input type="submit" class="resignation" th:value="#{order.forward}">
                <input type="button" class="resignation" th:value="#{order.resign}">
                <input
                        type="hidden"
                        th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}" />
            </form>
        </div>
    </div>
</div>
<div th:fragment="displaySale">
    <table class="displayPrice">
        <tr th:style="'font-size: 20px'">
            <th><span th:text="#{display.id}"></span></th>
            <th><span th:text="#{display.name}"></span></th>
            <th><span th:text="#{display.price}"></span></th>
            <th><span th:text="#{display.price.currency} + ${currency}"></span></th>
            <th><span th:text="#{display.quantity}"></span></th>
        </tr>
        <tr th:each="part: ${vehicleList}">
            <td th:text="${part.id()}"></td>
            <td th:text="${part.name()}"></td>
            <td th:text="${part.price()}"></td>
            <td th:text="${#numbers.formatDecimal((askValue * part.price()), 1,2)}"></td>
            <td th:text="${part.quantity()}"></td>
        </tr>
    </table>
    <div class="centerContainer">
        <div class="order">
            <h2 th:text="#{order.rent.head}"></h2>
            <form action="/orderSale" method="post">
                <input type="text" class="orderInput" style="width: 25%" readonly><br><br><br>
                <input type="hidden" class="hidden" name="html">
                <input type="submit" class="resignation" th:value="#{order.forward}">
                <input type="button" class="resignation" th:value="#{order.resign}">
                <input
                        type="hidden"
                        th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}" />
            </form>
        </div>
    </div>
</div>
<div th:fragment="displayRepair">
    <table class="displayPrice">
        <tr th:style="'font-size: 20px'">
            <th><span th:text="#{display.id}"></span></th>
            <th><span th:text="#{display.name}"></span></th>
            <th><span th:text="#{display.price}"></span></th>
            <th><span th:text="#{display.price.currency} + ${currency}"></span></th>
        </tr>
        <tr th:each="repair: ${vehicleList}">
            <td th:text="${repair.id()}"></td>
            <td th:text="${repair.name()}"></td>
            <td th:text="${repair.price()}"></td>
            <td th:text="${#numbers.formatDecimal((askValue * repair.price()), 1,2)}"></td>
        </tr>
    </table>
    <div class="centerContainer">
        <div class="order">
            <h2 th:text="#{order.repair.head}"></h2>
            <form action="/orderRepair" method="post">
                <input type="text" class="orderInput" style="width: 25%" readonly><br><br><br>
                <input type="hidden" class="hidden" name="html">
                <input type="submit" class="resignation" th:value="#{order.forward}">
                <input type="button" class="resignation" th:value="#{order.resign}">
                <input
                        type="hidden"
                        th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}" />
            </form>
        </div>
    </div>
</div>
<div th:fragment="footer">
    <div class="dropdown car">
        <img src="/css/samochod.jpg" alt="car" style="width: 30%; margin-left: 35%">
        <div class="dropdown-content">
            <img src="/css/samochod.jpg" alt="car" style="margin-top: -17.5%; width: 100%">
        </div>
    </div>
</div>


</body>
</html>